{% extends "layouts/default.twig" %}

{% block breadcrump %}
    <li class="active">{{ 'siezi.phileAdminPages.title'|trans }}</li>
{% endblock %}

{% block head %}
    <script src="{{ Url_phile('plugins/siezi/phileAdminMarkdownEditor/public/vendor/jquery.tablesorter/jquery.tablesorter.combined.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <p>
            <a href="{{ Url_backend('pages/add') }}" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{ 'siezi.phileAdminPages.label.addPage'|trans }}
            </a>
        </p>

        {% if drafts|length > 0 %}
            <h2>{{ 'siezi.phileAdminPages.label.drafts'|trans }}</h2>
            {% include 'pages/partials/pageList.twig' with {'pages': drafts, 'base': 'draft', 'actions': {'view': false}} %}
        {% endif %}
        <h2>{{ 'siezi.phileAdminPages.label.pages'|trans }}</h2>
        {% include 'pages/partials/pageList.twig' with {'pages': pages, 'base': 'content'} %}
    </div>

{% endblock %}
